@font-face {
    font-family: IRANSans_Black;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Black.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans_Bold;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans_Medium;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans_Light;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans_UltraLight;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    height: 600px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    cursor: url(../img/goal1.png), auto;
}
.background_image {
    background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    height: 1200px;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);;
}
.scoreBoard {
    width: 134px;
    height: 33px;
    background-color: #d8b947;
    position: absolute;
    z-index: 100;
    right: 30px;
    top: 10px;
    border-radius: 16px;
    border: 3px solid #6f5f19;
}
div.deathBoard {
    width: 67px;
    height: 33px;
    background-color: #d8b947;
    position: absolute;
    z-index: 100;
    left: 30px;
    top: 10px;
    border-radius: 16px;
    border: 3px solid #6f5f19;
}
img.coins {
    float: right;
    width: 23px;
    margin-top: 3px;
    margin-right: 6px;
}
img.grave {
    float: left;
    width: 26px;
    margin-top: 3px;
    margin-left: 6px;
}
span.scoreItem {
    direction: rtl;
    display: inline;
    font-family: IRANSans_Medium,Tahoma,Arial;
    margin-top: 8px;
    font-size: 18px;
    color: #1b1f08;
    float: right;
    margin-right: 5px;
}
span#score{
    margin-right: 15px;
}
span#graveNumber{
    direction: rtl;
    display: block;
    font-family: IRANSans_Medium,Tahoma,Arial;
    margin-top: 7px;
    font-size: 21px;
    color: #1b1f08;
    float: left;
    margin-left: 6px;
}
.play img {
    position: absolute;
    z-index: 1;
    top: 350px;
    left: 359px;
    width: 205px;
}
.logo img {
    position: absolute;
    z-index: 1000;
    width: 600px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
}
.char1 img {
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 100px;
    width: 450px;
}
.halloweenBat {
    z-index : 10000;
}
.hardShipLevel {
    position: absolute;
    z-index: 25;
    top: 255px;
    /* right: 619px; */
    margin-left: -114px;
    margin-right: auto;
    left: 50%;
    right: 50%;
    display: none;
}
img.hardship_img {
    display: block;
    width: 240px;
    margin-top: 45px;
}

.area {
    position: absolute;
    display: block;
    z-index: 250;
    width: 300px;
    height: 100px;
    background-color: red;
    left: 173px;
    top: 238px;
    overflow: hidden;;
}

.gameOver {
    position: absolute;
    z-index: 500000;
    width: 620px;
    height: 543px;
    background-color: rgba(111, 107, 38, 0.95);
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    top: 70px;
    border-radius: 28px;
    display: none;
}

span#falloff {
    text-align: center;
    display: block;
    font-size: 59px;
    direction: rtl;
    margin-top: 25px;
    font-family: IRANSans_Bold;
    color : #ffd8ab;
}
img#charGameOver {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
}
.showScore {
    clear: both;
    text-align: center;
    margin-top: 30px;
}
.showKill{
    clear: both;
    text-align: center;
    margin-top: 30px;
}
.showScore p{
    display: inline;
    direction: rtl;
    text-align: center;
    font-family: IRANSans_Bold;
    color : #ffd8ab;
    font-size: 20px;
}

.showKill p{
    display: inline;
    direction: rtl;
    text-align: center;
    font-family: IRANSans_Bold;
    color : #ffd8ab;
    font-size: 20px;
}
.againPlay {
    clear: both;
    margin-top: 17px;
    text-align: center;
}
.againPlay img {
    width: 205px;
    cursor: pointer;
}